---
title: Tools
desc: An open collection of communication tools used in design processes that deal with complex systems
---
{% include header.html title="Tools" desc="The personas are archetypes built after an exhaustive observation of the potential users." svg="tools-svg.html" %}
<section class="filters__container">
    <div class="filter">
        <div class="filter__title">
            {% include svgs/clock.html %}
            <h3>When</h3>
        </div>
        <p>What stage of the design process are you in?</p>
        <ul>
            <li><input type="checkbox" name="when" id="research"><label for="research">Research</label></li>
            <li><input type="checkbox" name="when" id="ideation"><label for="ideation">Ideation</label></li>
            <li><input type="checkbox" name="when" id="prototyping"><label for="prototyping">Prototyping</label></li>
            <li><input type="checkbox" name="when" id="implementation"><label for="implementation">Implementation</label></li>
        </ul>
    </div>
    <div class="filter">
        <div class="filter__title">
            {% include svgs/user.html %}
            <h3>Who</h3>
        </div>
        <p>Who are you trying to engage in the process?</p>
        <ul>
            <li><input type="checkbox" name="who" id="experts"><label for="experts">Experts</label></li>
            <li><input type="checkbox" name="who" id="stakeholders"><label for="stakeholders">Stakeholders</label></li>
            <li><input type="checkbox" name="who" id="service-staff"><label for="service-staff">Service Staff</label></li>
            <li><input type="checkbox" name="who" id="users"><label for="users">Users</label></li>
        </ul>
    </div>
    <div class="filter">
        <div class="filter__title">
            {% include svgs/dots.html %}
            <h3>What</h3>
        </div>
        <p>What elements of the service you need to describe?</p>
        <ul>
            <li><input type="checkbox" name="what" id="context"><label for="context">Context</label></li>
            <li><input type="checkbox" name="what" id="system"><label for="system">System</label></li>
            <li><input type="checkbox" name="what" id="experience"><label for="experience">Experience</label></li>
            <li><input type="checkbox" name="what" id="offering"><label for="offering">Offering</label></li>
        </ul>
    </div>
    <div class="filter">
        <div class="filter__title">
            {% include svgs/network.html %}
            <h3>How</h3>
        </div>
        <p>What type of techniques you'd like to use?</p>
        <ul>
            <li><input type="checkbox" name="how" id="text"><label for="text">Text</label></li>
            <li><input type="checkbox" name="how" id="maps"><label for="maps">Maps</label></li>
            <li><input type="checkbox" name="how" id="narratives"><label for="narratives">Narratives</label></li>
            <li><input type="checkbox" name="how" id="simulations"><label for="simulations">Simulations</label></li>
        </ul>
    </div>
</section>
<main>
    <div class="tools__navigation">
        <div class="breadcrumb">
            <h3>You are viewing:</h3>
            <p>All tools</p>
        </div>
        <div class="sorting">
            <h3>Sort by:</h3>
            <ul>
                <li id="process">Process phase</li>
                <li id="alphabetical">Alphabetical</li>
            </ul>
        </div>
    </div>
    <div class="tools__gallery">
        {% for tool in site.tools %}
        <a href="{{ tool.title | slugify | prepend: '/tools/' | relative_url }}" class="tool{% for question in tool.properties.when %} {{ question | slugify }}{% endfor %}{% for question in tool.properties.who %} {{ question | slugify }}{% endfor %}{% for question in tool.properties.what %} {{ question | slugify }}{% endfor %}{% for question in tool.properties.how %} {{ question | slugify }}{% endfor %}" data-name="{{ tool.title | slugify }}" data-process="{% for question in tool.properties.when %} {{ question | slugify }}{% endfor %}">
            <div class="card">
                {{ tool.icon | strip_newlines | normalize_whitespace }}
                <p>{{ tool.title }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</main>