---
title: Tutorials
desc: Learn more about how to approach a specific design challenge, following these simple guides.
---
{% include header.html title="Tutorials" desc="Learn more about how to approach a specific design challenge, following these simple guides." svg="tutorials-svg.html" %}
<main class="tutorials__gallery">
    {% for t in site.data.tutorials.tutorial-list %}
    {% assign tutorial = site.tutorials | where: "title", t.tutorial | first %}
    <a href="{{ tutorial.url | relative_url }}">
        {% if tutorial.category != "Basics" %}
        <div class="card card--thematic">
        {% else %}
        <div class="card">
        {% endif %}
            <div class="tutorial__card">
                {% if tutorial.category != "Basics" %}
                {% include svgs/dotgrid-thematic.html class="dotgrid" %}
                {% else %}
                {% include svgs/dotgrid.html class="dotgrid" %}
                {% endif %}
                <h3>{{ tutorial.category }} {% include svgs/zigzag.html class="zigzag" %}</h3>
                <h4>{{ tutorial.title }}</h4>
            </div>
        </div>
    </a>
    {% endfor %}
</main>