<section class="banner" data-type="enhanced">
    {% include svgs/ai-playbook.html %}
    <div class="banner__column">
        <h3>ai-based services</h3>
        <h2>Playbook and tools</h2>
        <p>Discover the Triple-O framework and download the tools crafted by oblo to design AI-based services.</p>
        <div class="banner__links">
            <a href="{{ site.data.ai-playbook.book_link }}" class="btn--action" target="_blank" rel="noreferrer noopener">Get the playbook</a>
            <a href="{{ site.data.ai-playbook.strategy_link }}" target="_blank" rel="noreferrer noopener">Learn about oblo ai strategy</a>
        </div>
    </div>
</section>