<div class="consent">
    <div class="content__text">
        <p>This website uses cookies to collect anonymized usage statistics so that we can improve the overall user experience. If you want to know more or change your preferences, read our <a href="{{ '/policy' | relative_url }}">Cookie Policy</a>. By clicking Accept you are giving consent to the use of cookies.</p>
    </div>
    <div class="consent__buttons">
        <p class="button__accept btn--action">Accept</p>
        <p class="button__optout">No, thank you.</p>
    </div>
</div>