<section class="contribute">
    {% include svgs/contribute-svg.html %}
    <div class="contribute__column">
        <h3>contribute</h3>
        <h2>Grow with us!<br/>Share your case studies</h2>
        <p>The collection is always evolving, following the development of our practice. If you have any interesting tools or example of application to share, please get in touch.</p>
        <a href="https://oblo.typeform.com/to/zO9uLj" class="btn--action" target="_blank" rel="noreferrer noopener">contribute</a>
    </div>
</section>