<section class="contribute">
    {% include_relative _includes/svgs/contribute.html %}
    <div class="contribute__column">
        <h3>contribute</h3>
        <h2>Grow with us!<br/>Send your contribute</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum in nibh id consequat. Donec leo est, lacinia ac sem nec, mollis pulvinar arcu.</p>
        <a href="https://oblo.typeform.com/to/zO9uLj" class="btn--action" target="_blank" rel="noreferrer noopener">contribute</a>
    </div>
</section>