<footer>
    <div class="footer__info">
        <div class="info">
            {% include svgs/logo.html %}
        </div>
        <div class="info">
            <h3>curated by</h3>
            <ul>
                {% for curatorObj in site.data.footer.curators %}
                {% assign curator = curatorObj.curator %}
                <li>
                    {% if curator.url.size > 0 %}
                    <a href="{{ curator.url }}" target="_blank" rel="noopener noreferrer">{{ curator.name }}</a>
                    {% else %}
                    {{ curator.name }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="info">
            <h3>get in touch</h3>
            <p>info@servicedesigntools.org</p>
        </div>
        <div class="info">
            <h3>stay up-to-date</h3>
            <a href="https://twitter.com/s_DesignTools" target="_blank" rel="noopener noreferrer" class="info__icon">{% include svgs/twitter.html %}</a>
            <a href="https://www.linkedin.com/company/service-design-tools/" target="_blank" rel="noopener noreferrer" class="info__icon">{% include svgs/linkedin.html %}</a>
        </div>
    </div>
    <p class="copyright">cc by-nc-nd 2.5 | <a href="{{ '/policy' | relative_url }}">Cookie policy</a></p>
</footer>