<footer>
    <div class="footer__info">
        <div class="info">
            {% include svgs/logo.html %}
            <ul>
                <li><a href="http://oblo.design/" target="_blank" rel="noopener noreferrer">oblo.design</a></li>
                <li><a href="http://www.systemthinking.it/" target="_blank" rel="noopener noreferrer">systemthinking.it</a></li>
            </ul>
        </div>
        <div class="info">
            <h3>credits</h3>
            <p>All contents by oblo</p>
        </div>
        <div class="info">
            <h3>get in touch</h3>
            <p>info@servicedesigntools.org</p>
        </div>
        <div class="info">
            <h3>stay up-to-date</h3>
            <a href="https://twitter.com/s_DesignTools" target="_blank" rel="noopener noreferrer">{% include svgs/twitter.html %}</a>
        </div>
    </div>
    <p class="copyright">nc-by-nd cc licence / 2009</p>
</footer>