<footer>
    <div class="footer__info">
        <div class="info">
            {% include svgs/logo.html %}
            <p>2009-2019</p>
        </div>
        <div class="info">
            <h3>curated by</h3>
            <ul>
                <li><a href="http://oblo.design/" target="_blank" rel="noopener noreferrer">oblo.design {% include svgs/external-link.html color="light" %}</a></li>
                <li><a href="https://www.polidesign.net/" target="_blank" rel="noopener noreferrer">poli.design {% include svgs/external-link.html color="light" %}</a></li>
            </ul>
        </div>
        <div class="info">
            <h3>get in touch</h3>
            <p>info@servicedesigntools.org</p>
        </div>
        <div class="info">
            <h3>stay up-to-date</h3>
            <a href="https://twitter.com/s_DesignTools" target="_blank" rel="noopener noreferrer">{% include svgs/twitter.html %}</a>
        </div>
    </div>
    <p class="copyright">cc by-nc-nd 2.5</p>
</footer>