<nav>
    <a href="{{ '/' | relative_url }}" class="logo__link">
        {% include svgs/logo.html %}
    </a>
    <ul>
        <li><a href="{{ '/tools' | relative_url }}" {% if page.url contains "/tools" %}class="nav--active"{% endif %}>tools</a></li>
        <li><a href="{{ '/tutorials' | relative_url }}" {% if page.url contains "/tutorials" %}class="nav--active"{% endif %}>tutorials</a></li>
        <li><a href="{{ '/about' | relative_url }}" {% if page.url == "/about.html" %}class="nav--active"{% endif %}>about</a></li>
        <li><a href="{{ '/resources' | relative_url }}" {% if page.url == "/resources.html" %}class="nav--active"{% endif %}>resources</a></li>
        <li><a href="https://oblo.typeform.com/to/zO9uLj" class="btn--action" target="_blank" rel="noreferrer noopener">contribute</a></li>
    </ul>
    <div class="nav__burger">
        <div class="burger__line"></div>
        <div class="burger__line line--center"></div>
        <div class="burger__line line--center"></div>
        <div class="burger__line"></div>
    </div>
</nav>