<nav>
    <a href="{{ '/' | relative_url }}" class="logo__link">
        {% include svgs/logo.html %}
    </a>
    <ul>
        <li><a href="{{ '/tools' | relative_url }}">tools</a></li>
        <li><a href="{{ '/tutorials' | relative_url }}">tutorials</a></li>
        <li><a href="{{ '/about' | relative_url }}">about</a></li>
        <li><a href="{{ '/resources' | relative_url }}">resources</a></li>
        <li><a href="https://oblo.typeform.com/to/zO9uLj" class="btn--action" target="_blank" rel="noreferrer noopener">contribute</a></li>
    </ul>
    <div class="nav__burger">
        <div class="burger__line"></div>
        <div class="burger__line line--center"></div>
        <div class="burger__line line--center"></div>
        <div class="burger__line"></div>
    </div>
</nav>