.consent {
    position: fixed;
    bottom: 0;
    width: calc(var(--container-width));
    padding: 1.875rem calc((100% - var(--container-width)) / 2);
    background-color: var(--color-support);
    color: var(--color-light);
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s;
}

.consent.box--open {
    opacity: 1;
    pointer-events: auto;
}

.content__text {
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.consent__buttons {
    text-align: center;
}

.consent__buttons p {
    cursor: pointer;
}

.button__accept {
    max-width: calc(var(--column-width) * 2 + var(--container-gap) * 1);
    margin: auto;
    padding: 0.6rem 3.5rem;
    border: 1px solid var(--color-light);
    border-radius: 5px;
    font-weight: var(--font-medium);
}

.button__optout {
    margin-top: .5rem;
    text-decoration: underline;
}

.consent a {
    font-weight: var(--font-bold);
    color: var(--color-light);
    text-decoration: underline;
}

@media (min-width: 576px) {
    .consent {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .content__text {
        width: calc(var(--column-width) * 3 + var(--container-gap) * 4);
        margin-bottom: 0;
    }
    .button__accept {
        max-width: calc(var(--column-width) * 6 + var(--container-gap) * 5);
        margin: 0;
    }
}

@media (min-width: 768px) {
    .content__text {
        width: calc(var(--column-width) * 4 + var(--container-gap) * 3);
    }
}

@media (min-width: 992px) {
    .content__text {
        width: calc(var(--column-width) * 7 + var(--container-gap) * 6);
    }
    .consent__buttons {
        display: flex;
        align-items: center;
    }
    .button__accept {
        margin-right: 2rem;
    }
    .button__optout {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .consent {
        width: calc(var(--container-width) - 6rem);
        padding: 1.875rem calc((100% - var(--container-width)) / 2 + 3rem);
    }
    .content__text {
        width: calc(var(--column-width) * 6 + var(--container-gap) * 5);
    }
}