.contribute {
    width: var(--container-width);
    padding: 6rem calc((100% - var(--container-width)) / 2);
    background-color: var(--color-support);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.contribute svg {
    height: 194px;
    margin-bottom: 2.875rem;
}

.contribute svg .svg--outline {
    stroke-width: 1px;
}

.contribute__column {
    text-align: center;
    color: var(--color-light);
}

.contribute__column h3 {
    color: var(--color-light);
}

.contribute__column p {
    line-height: 1.6;
    margin-bottom: 2.7rem;
}

.contribute__column .btn--action {
    background-color: var(--color-light);
    color: var(--color-support);
}
@media (min-width: 576px) {
    .contribute svg {
        height: 246px;
    }
    .contribute__column p {
        padding: 0 3rem;
    }
}

@media (min-width: 768px) {
    .contribute {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .contribute svg {
        height: 221px;
        margin-right: 3.75rem;
        margin-bottom: 0;
    }
    .contribute__column {
        width: 47%;
        text-align: left;
    }
    .contribute__column h2 {
        font-size: 1.75rem;
        padding: 0;
    }
    .contribute__column p {
        padding: 0;
    }
}

@media (min-width: 992px) {
    .contribute svg {
        height: 285px;
        margin-right: calc(var(--column-width) * 1 + var(--container-gap) * 1);
    }
    .contribute__column {
        width: 46%;
    }
    .contribute__column h2 {
        font-size: 2.25rem;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .contribute svg {
        margin-right: calc(var(--column-width) * 2 + var(--container-gap) * 2);
    }
    .contribute__column {
        width: 38%;
    }
}