.contribute {
    width: var(--container-width);
    padding: 6rem calc((100% - var(--container-width)) / 2);
    background-color: var(--color-support);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.contribute svg {
    height: 285px;
    margin-right: calc(var(--column-width) * 2 + var(--container-gap) * 2);
}

.contribute__column {
    width: 35%;
    color: var(--color-light);
}

.contribute__column h3 {
    color: var(--color-light);
}

.contribute__column p {
    line-height: 1.6;
    margin-bottom: 2.7rem;
}

.contribute__column .btn--action {
    background-color: var(--color-light);
    color: var(--color-support);
}