footer {
    width: var(--container-width);
    padding: 3.75rem calc((100% - var(--container-width)) / 2) 1.75rem;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 3.75rem;
    border-bottom: 0.5px solid var(--color-light);
}

.info {
    width: 20%;
    margin-right: 5%;
}

.info .logo {
    margin-bottom: 0.8rem;
}

.info .logo path {
    fill: var(--color-light);
}

.info h3 {
    font-weight: var(--font-medium);
    color: var(--color-light);
    margin-bottom: 1.5rem;
}

.info li {
    margin-bottom: 0.8rem;
}

.info a {
    color: var(--color-light);
    font-weight: var(--font-light);
}

.info p {
    font-weight: var(--font-light);
}

.info .twitter {
    height: 2rem;
}

.copyright {
    margin: 1.5rem 0 0;
    font-size: 0.75rem;
    font-weight: var(--font-medium);
}