footer {
    width: var(--container-width);
    padding: 3.75rem calc((100% - var(--container-width)) / 2) 1.75rem;
    background-color: var(--color-dark);
    color: var(--color-light);
}

footer p > a {
    color: var(--color-light);
    text-decoration: underline;
}

.footer__info {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0.5px solid var(--color-light);
}

.info {
    width: 100%;
    margin-bottom: 2rem;
}

.info:first-child {
    margin-bottom: 2.25rem;
}

.info .logo {
    margin-bottom: 0.8rem;
}

.info .logo path {
    fill: var(--color-light);
}

.info h3 {
    font-weight: var(--font-medium);
    color: var(--color-light);
    margin-bottom: 1.5rem;
}

.info li {
    margin-bottom: 0.8rem;
}

.info a {
    color: var(--color-light);
    font-weight: var(--font-light);
    text-decoration: underline;
}

.info p {
    font-weight: var(--font-light);
}

.info .twitter {
    height: 2rem;
}

.copyright {
    margin: 1.5rem 0 0;
    font-size: 0.75rem;
    font-weight: var(--font-medium);
}
@media (min-width: 576px) {
    .info,
    .info:nth-child(3) {
        width: 45%;
        margin-right: 5%;
        margin-bottom: 1.75rem;
    }
    .info:first-child {
        width: 100%;
        margin-bottom: 1.75rem;
    }
}

@media (min-width: 992px) {
    .footer__info {
        padding-bottom: 1.75rem;
    }
    .info,
    .info:first-child,
    .info:nth-child(3) {
        width: 22%;
        margin-right: 3%;
        margin-bottom: 0;
    }
}