header {
    --header-padding: calc(var(--column-width) + var(--container-gap));
    width: calc(var(--container-width) - var(--header-padding) * 2);
    margin: 4rem auto 8rem;
    padding: 0 var(--header-padding);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header__column {
    width: 36%;
}

.header__column.home {
    width: 45%;
}

.header__column p {
    width: 96%;
    font-size: 1.1rem;
    font-weight: var(--font-light);
    line-height: 1.6;
}

.header__column.home p {
    width: 78%;
}

header svg {
    max-width: 60%;
    height: 445px;
}