html {
    --container-width: 90vw;
    --container-gap: 20px;
    --container-columns: 6;
    --column-width: calc((var(--container-width) - var(--container-gap) * (var(--container-columns) - 1)) / var(--container-columns));

    --color-dark: #262D32;
    --color-light: #FFFFFF;
    --color-main: #00D2E6;
    --color-support: #846DF9;
    --color-background-light: #F5F7F9;
    --color-line-light: #D8D8D8;

    --font-corpus: 'IBM Plex Sans', sans-serif;
    font-family: var(--font-corpus);
    color: var(--color-dark);
    --font-display: 'Libre Baskerville', serif;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    --radius: 5px;
}

body {
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

.menu--open,
.filters--open {
    overflow-y: hidden;
}

h1 {
    margin: 0 0 1rem;
    font-family: var(--font-display);
    font-size: 2.5rem;
    font-weight: var(--font-regular);
    line-height: 1.2;
}

h2 {
    margin: 0 0 1.75rem;
    font-family: var(--font-display);
    font-size: 1.75rem;
    font-weight: var(--font-regular);
}

h3 {
    margin: 0 0 0.875rem;
    font-size: 0.875rem;
    font-weight: var(--font-bold);
    color: var(--color-main);
    text-transform: uppercase;
}

h4 {
    margin: 1.25rem 0 0;
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: var(--font-regular);
}

h5 {
    font-size: 0.8rem;
    font-weight: var(--font-medium);
    text-transform: uppercase;
    margin: 0 0 0.5rem;
    padding-left: 0.5rem;
    border-left: 2px solid var(--color-main);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--color-dark);
    text-decoration: none;
}

p {
    margin: 0;
}

.btn--action {
    color: var(--color-light);
    background-color: var(--color-support);
    border-radius: var(--radius);
    font-weight: var(--font-medium);
    padding: 0.7rem 3.4rem;
}

.outside--link {
    color: var(--color-support);
    text-decoration: underline;
}

.svg--outline {
    fill: none;
    stroke: var(--color-dark);
    stroke-width: 0.8px;
    stroke-linecap:round;
    stroke-linejoin:round;
}

.svg--shadow {
    fill: #F0F1F2;
}

.svg--filled-main {
    fill: var(--color-main);
}

.svg--filled-support {
    fill: var(--color-support);
}

.svg--filled-light {
    fill: var(--color-light);
}

.svg--filled-dark {
    fill: var(--color-dark);
}

.svg--stroke-thick {
    stroke-width: 1.5px;
}

.svg--stroke-thick2 {
    stroke-width: 3px;
}

.svg--dashed {
    stroke-dasharray: 5,5;
}

.svg--stroke-main {
    stroke: var(--color-main);
}

.svg--stroke-light {
    stroke: var(--color-light);
}

.card {
    background-color: var(--color-light);
    border-radius: var(--radius);
    -webkit-box-shadow: 2px 2px 20px rgba(26,59,94,0.08);
            box-shadow: 2px 2px 20px rgba(26,59,94,0.08);
}

@media (min-width: 576px) {
    html {
        --container-width: 540px;
        --container-gap: 30px;
    }
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        margin: 0 0 2rem;
        font-size: 2rem;
    }
    h4 {
        margin: 1.5rem 0 0;
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    html {
        --container-width: 720px;
    }
}

@media (min-width: 992px) {
    html {
        --container-width: 960px;
        --container-columns: 12;
    }
    h1 {
        margin: 5rem 0 1.6rem;
        font-size: 4rem;
    }
    h2 {
        margin: 0 0 2.25rem;
        font-size: 2.25rem;
    }
    h4 {
        margin: 1.75rem 0 0;
        font-size: 1.75rem;
    }
}

@media (min-width: 1200px) {
    html {
        --container-width: 1140px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .card {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transition: -webkit-transform 0.3s cubic-bezier(.4,0,.4,1), -webkit-box-shadow 0.3s cubic-bezier(.4,0,.4,1);
        transition: -webkit-transform 0.3s cubic-bezier(.4,0,.4,1), -webkit-box-shadow 0.3s cubic-bezier(.4,0,.4,1);
        transition: transform 0.3s cubic-bezier(.4,0,.4,1), box-shadow 0.3s cubic-bezier(.4,0,.4,1);
        transition: transform 0.3s cubic-bezier(.4,0,.4,1), box-shadow 0.3s cubic-bezier(.4,0,.4,1), -webkit-transform 0.3s cubic-bezier(.4,0,.4,1), -webkit-box-shadow 0.3s cubic-bezier(.4,0,.4,1);
    }
    .card:hover {
        -webkit-transform: scale(1.03);
                transform: scale(1.03);
        -webkit-box-shadow: 2px 2px 20px rgba(26,59,94,0.2);
                box-shadow: 2px 2px 20px rgba(26,59,94,0.2);
    }
}