nav {
    width: var(--container-width);
    padding: 1.8rem calc((100% - var(--container-width)) / 2);
    max-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.logo {
    height: 1.5rem;
}

.logo path {
    fill: var(--color-dark);
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav li {
    margin-left: 3rem;
}

nav .btn--action {
    padding: 0.7rem 1.3rem;
}