html {
  --extra-padding: 0px;
  --timeline-padding: 2rem;
}

header {
  position: relative;
  padding: 0 calc((100% - var(--container-width)) / 2) 4.6rem;
  background-color: var(--color-light);
}

header::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 14px;
  border-radius: 50%;
  opacity: 0.1;
  -webkit-box-shadow: 2px 2px 20px var(--color-dark);
  box-shadow: 2px 2px 20px var(--color-dark);
  z-index: -1;
}

main, section {
  width: calc(var(--container-width) - var(--extra-padding) * 2);
  padding: 0 calc((100% - var(--container-width)) / 2 + var(--extra-padding));
}

section {
  padding-top: 3.75rem;
  padding-bottom: 5.5rem;
}

main p,
section p {
  width: 100%;
  padding-bottom: 3rem;
  font-weight: var(--font-light);
  line-height: 1.6;
}

h2+p, .event__year {
  font-size: 1.125rem;
}

.timeline {
  margin-bottom: 5.5rem;
}

.event {
  --circle-dimension: 1.75rem;
  position: relative;
  padding-left: var(--timeline-padding);
}

.event::before {
  content: "";
  position: absolute;
  top: calc(var(--circle-dimension) * .5);
  left: -.75px;
  width: 1.5px;
  height: 100%;
  background-color: var(--color-main);
}

.event:last-of-type::before {
  height: 40%;
}

.event:last-of-type::after {
  content: "";
  position: absolute;
  top: calc(40% + var(--circle-dimension) * .5);
  left: -.75px;
  width: 1.5px;
  height: calc(60% - var(--circle-dimension) * .5);
  border-left: 1.5px dotted var(--color-main);
}

.event p {
  width: calc(100% - var(--timeline-padding));
}

.event__year {
  padding-bottom: 0.65rem;
  color: var(--color-main);
  font-weight: var(--font-medium);
}

.event__year::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(var(--circle-dimension) * -.5);
  width: var(--circle-dimension);
  height: var(--circle-dimension);
  border-radius: 50%;
  background-color: #D7F8FB;
}

.event__year::after {
  --dot-dimension: .6rem;
  content: "";
  position: absolute;
  top: calc((var(--circle-dimension) - var(--dot-dimension)) * .5);
  left: calc(var(--dot-dimension) * -.5);
  width: var(--dot-dimension);
  height: var(--dot-dimension);
  border-radius: 50%;
  background-color: var(--color-main);
}

.team {
  background-color: var(--color-background-light);
}

.team__members {
  --grid-dimension: calc(var(--column-width) * 4 + var(--container-gap) * 4);
  display: grid;
  grid-template-columns: 1fr var(--grid-dimension) 1fr;
  grid-auto-rows: calc(var(--grid-dimension) + var(--container-gap) * 4);
  gap: var(--container-gap);
}

.member {
  grid-column: 2 / span 1;
  display: grid;
  grid-template: var(--grid-dimension) calc(var(--container-gap) * 2.5) / 1fr;
  overflow: hidden;
}

.member img {
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.member div {
  grid-row: 2 / span 1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: .5rem;
  color: var(--color-dark);
  text-align: center;
}

.member div > * {
  pointer-events: none;
}

.member__name {
  width: 100%;
  font-weight: var(--font-medium);
  padding-bottom: .2rem;
}

.member h5 {
  padding: 0;
  border: none;
}

.collaborators__members {
  --grid-dimension: calc(var(--column-width) * 3 + var(--container-gap) * 2);
  display: grid;
  grid-template-columns: repeat(2, var(--grid-dimension));
  gap: var(--container-gap);
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-line-light);
}

.member--collaborator {
  text-align: center;
}

.member--collaborator img {
  border-radius: 1.25rem;
  width: 100%;
}

.member--collaborator p {
  width: 100%;
  padding: 0;
  font-weight: var(--font-medium);
}

.member--collaborator h5 {
  padding: 0;
  border: none;
  color: var(--color-dark);
  opacity: .6;
}

.collaborators {
  padding-top: 0;
  padding-bottom: 0;
}

.collaborators > :first-child {
  margin-top: 3.75rem;
}

.collaborators h3 {
  margin-top: 2.5rem;
  color: var(--color-dark);
  opacity: .6;
}

.collaborators span {
  color: var(--color-dark);
  opacity: .6;
}

.collaborators span::after {
  content: ",";
}

.collaborators span:last-child::after {
  content: "";
}

.collaborators > :last-child {
  margin-bottom: 5.5rem;
}

.collaborators > p:last-child {
  padding-bottom: 0;
}

.curators {
  background-color: var(--color-main);
}

.curators h3 {
  color: var(--color-light);
}

.curators p {
  width: 100%;
  padding: 0;
  font-weight: var(--font-regular);
  color: var(--color-light);
}

.curators strong {
  font-weight: var(--font-bold);
}

.curators__members {
  --grid-dimension: calc(var(--column-width) * 6 + var(--container-gap) * 5);
  display: grid;
  grid-template-columns: repeat(1, var(--grid-dimension));
  gap: var(--container-gap);
}

.curator > div {
  height: 9rem;
  display: flex;
  align-items: center;
}

.curator img {
  max-width: calc(var(--grid-dimension) * .8);
}

@media (min-width: 576px) {
  html {
    --timeline-padding: 3rem;
  }
  header {
    padding: 0 calc((100% - (var(--container-width) - var(--header-padding) * 2)) / 2) 4.6rem;
  }
  .event p {
    width: calc(90% - var(--timeline-padding));
  }
  .team__members {
    --grid-dimension: calc(var(--column-width) * 3 + var(--container-gap) * 2);
    grid-template-columns: repeat(2, var(--grid-dimension));
    grid-auto-rows: calc(var(--grid-dimension) + var(--container-gap) * 2.5);
  }
  .member {
    grid-column: auto;
  }
  .collaborators__members {
    --grid-dimension: calc((var(--container-width) - var(--container-gap) * 3) / 4);
    grid-template-columns: repeat(4, var(--grid-dimension));
  }
  .curators__members {
    --grid-dimension: calc(var(--column-width) * 5 + var(--container-gap) * 3);
  }
}

@media (min-width: 768px) {
  html {
    --extra-padding: 2.4rem;
  }
  main p,
  section p {
    width: 75%;
  }
  .event p {
    width: calc(75% - var(--timeline-padding));
  }
  .team__members {
    --grid-dimension: calc(var(--column-width) * 2 + var(--container-gap) * 1 - var(--extra-padding) * 2 / 3);
    grid-template-columns: repeat(3, var(--grid-dimension));
    gap: var(--container-gap) calc((var(--container-width) - var(--extra-padding) * 2 - var(--grid-dimension) * 3) / 2);
  }
  .collaborators__members {
    --grid-dimension: calc((var(--container-width) - var(--container-gap) * 4 - var(--extra-padding) * 2) / 5);
    grid-template-columns: repeat(5, var(--grid-dimension));
  }
  .curators__members {
    --grid-dimension: calc(var(--column-width) * 3 + var(--container-gap) * 2 - var(--extra-padding));
    grid-template-columns: repeat(2, var(--grid-dimension));
  }
}

@media (min-width: 992px) {
  html {
    --extra-padding: calc(var(--column-width) + var(--container-gap));
    --timeline-padding: 4rem;
  }
  main p,
  section p {
    width: 61%;
  }
  .event p {
    width: calc(61% - var(--timeline-padding));
  }
  .team__members {
    --grid-dimension: calc(var(--column-width) * 3 + var(--container-gap) * 2);
  }
  .member__name {
    font-size: 1.25rem;
  }
  .collaborators__members {
    --grid-dimension: calc(var(--column-width) * 2 + var(--container-gap) * 1);
    grid-template-columns: repeat(5, var(--grid-dimension));
  }
  .curators__members {
    --grid-dimension: calc(var(--column-width) * 4 + var(--container-gap) * 4);
    gap: calc(var(--column-width) + var(--container-gap));
  }
}

@media (hover: hover) and (pointer: fine) {
  .team__members {
    grid-auto-rows: var(--grid-dimension);
    gap: calc((var(--container-width) - var(--extra-padding) * 2 - var(--grid-dimension) * 3) / 2);
  }
  .member {
    grid-template: 1fr / 1fr;
    border-radius: 50%;
  }
  .member div {
    grid-row: 1 / -1;
    justify-content: center;
    padding-top: 0;
    color: var(--color-light);
    background-color: var(--color-main);
    opacity: 0;
    transition: opacity .2s;
  }
  .member div:hover {
    opacity: 1;
  }
  .member img {
    grid-row: 1 / -1;
  }
  .member__name {
    width: 80%;
  }
  .member h5 {
    color: var(--color-light);
  }
}