header {
    width: var(--container-width);
    padding: 0 calc((100% - var(--container-width)) / 2);
    margin-top: 2.8rem;
    background-color: var(--color-light);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 14px;
    border-radius: 50%;
    opacity: 0.1;
    -webkit-box-shadow: 2px 2px 20px var(--color-dark);
            box-shadow: 2px 2px 20px var(--color-dark);
    z-index: -1;
}

.header__icon {
    width: calc(var(--column-width) * 2 + var(--container-gap));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.header__icon svg {
    max-height: 100px;
}

.header__icon .svg--bw {
    opacity: 0;
}

.header__content {
    width: calc(var(--column-width) * 6 + var(--container-gap) * 5);
    text-align: center;
}

.header__content h1 {
    margin: 2.25rem 0 1rem;
    font-size: 2.25rem;
}

.header__content h2 {
    width: calc(var(--column-width) * 6 + var(--container-gap) * 5);
    margin: 0 0 2.5rem;
    font-family: var(--font-corpus);
    font-size: 1.125rem;
    font-weight: var(--font-light);
    line-height: 1.5;
}

.header__content h5 {
    display: inline-block;
}

.header__content p {
    margin: 0 0 2.5rem;
    font-weight: var(--font-light);
}

.header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 3.4rem;
}

.header__social a {
    margin-right: 1rem;
}

.header__social a:last-child {
    margin-right: 0;
}

.header__social svg {
    max-width: 100%;
    height: 35px;
}

.header__social .twitter .svg--filled-light {
    fill: var(--color-main);
}

.header__social .twitter .svg--filled-dark {
    fill: var(--color-light);
}

@media (min-width: 576px) {
    header {
        margin-top: 6.8rem;
    }
    .header__content {
        width: calc(var(--column-width) * 4 + var(--container-gap) * 3);
    }
    .header__content h1 {
        margin: 2.5rem 0 1rem;
        font-size: 2.5rem;
    }
    .header__content h2 {
        width: calc(var(--column-width) * 4 + var(--container-gap) * 3);
        font-size: 1.25rem;
        line-height: 1.6;
    }
    .header__social {
        margin-bottom: 8rem;
    }
}

@media (min-width: 768px) {
    header {
        padding: 2rem calc((100% - var(--container-width)) / 2) 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .header__content {
        text-align: left;
    }
    .header__content h1 {
        margin: 0 0 1rem;
    }
    .header__content h2 {
        width: calc(var(--column-width) * 4 + var(--container-gap) * 2);
    }
    .header__social {
        -webkit-box-pack: normal;
            -ms-flex-pack: normal;
                justify-content: normal;
        margin-bottom: 4rem;
    }
}

@media (min-width: 992px) {
    .header__icon {
        width: calc(var(--column-width) * 4 + var(--container-gap) * 4);
    }
    .header__icon svg {
        max-height: 130px;
    }
    .header__content {
        width: calc(var(--column-width) * 8 + var(--container-gap) * 7);
    }
    .header__content h1 {
        font-size: 3rem;
    }
    .header__content h2 {
        width: calc(var(--column-width) * 5 + var(--container-gap) * 5);
        font-size: 1.375rem;
    }
}