.highlights h2,
.highlights h3 {
  text-align: center;
}

.highlights__container {
  --square-module: calc(var(--column-width) * 3 + var(--container-gap) * 2);
  display: grid;
  grid-auto-rows: var(--square-module);
  grid-template-columns: repeat(2, 1fr);
  gap: var(--container-gap);
  grid-auto-flow: row dense;

  .card{
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    &.card--thematic {
      background-color: var(--color-main);
    }
  }
}

.square--1 {
  grid-row: span 1;
  grid-column: span 1;

  .card {
    padding: 0.5rem 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &[data-type="enhanced"] .card {
    outline: 2px solid var(--color-support);
    outline-offset: -.75rem;
  }

  svg {
    height: 58px;
    max-height: 58px;
    overflow: visible;
  }

  p {
    max-width: 85%;
    font-size: 0.75rem;
    font-weight: var(--font-medium);
    text-transform: uppercase;
    text-align: center;

    &.card__label {
      padding: .2rem .4rem;
      border-radius: var(--radius);
      background-color: var(--color-support);
      color: var(--color-light);
    }
  }
}

.square--2 {
  --square-2-padding: 1.4rem;
  grid-row: span 1;
  grid-column: span 2;

  .card {
    padding: var(--square-2-padding);
  }
}

.tutorial__card {
  border: 2px solid var(--color-main);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(12, calc(100% / 12));
  grid-template-columns: repeat(24, calc(100% / 24));

  h3 {
    grid-row: 2 / span 2;
    grid-column: 2 / span 12;
    align-self: flex-end;
    margin: 0;
    display: flex;
    align-items: center;
  }

  h4 {
    grid-row: 4 / span 4;
    grid-column: 2 / -2;
  }

  .zigzag {
    height: 0.4rem;
    margin-left: 1.2rem;
  }

  .dotgrid {
    grid-row: 2 / -3;
    grid-column: -12 / -3;
    max-width: 100%;
    max-height: 100%;
    align-self: flex-end;
    opacity: 0.15;

    .svg--filled-support {
      fill: var(--color-main);
    }
  }
}

.card--thematic {
  .tutorial__card {
    border: 2px solid var(--color-light);
    color: var(--color-light);

    h3 {
      color: var(--color-light);
    }

    .dotgrid {
      opacity: 0.2;

      .svg--filled-support {
        fill: var(--color-light);
      }
    }
  }

  .zigzag .svg--stroke-main {
    stroke: var(--color-light);
  }

}

.square--4 {
  --square-4-padding: 1.25rem;
  grid-row: span 1;
  grid-column: span 2;

  .card {
    padding: var(--square-4-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    font-size: 1.75rem;
    margin: 0;
  }

  [data-type="enhanced"] h2 {
    max-width: 8ch;
    text-align: left;
  }

  svg {
    align-self: flex-end;
    height: calc(min(100%, var(--square-module) + var(--container-gap) - var(--square-4-padding) * 2));
    max-width: 50%;
  
    .svg--outline {
      stroke-width: 1px;
    }
  }
}

@media (min-width: 576px) {
  .square--1 {
    .card {
      padding: 0;
    }

    p {
      font-size: 0.875rem;
    }

    svg {
      height: 32%;
      max-height: 32%;
    }
  }
  .tutorial__card {
    h3 {
      grid-column: 3 / span 12;
    }
    h4 {
      grid-row: 4 / span 4;
      grid-column: 3 / -6;
    }
    .zigzag {
      height: 0.6rem;
    }
    .dotgrid {
      grid-column: -11 / -3;
    }
  }
  .square--4 {
    --square-4-padding: 2rem;

    .card {
      align-items: normal;
    }

    h2 {
      font-size: 2.5rem;
      margin: 0 0 2rem;
    }
  }
}

@media (min-width: 768px) {
  .highlights h2,
  .highlights h3 {
    text-align: left;
  }
  .highlights__container {
    --square-module: calc(var(--column-width) * 2 + var(--container-gap) * 1);
    grid-template-columns: repeat(3, 1fr);
  }
  .square--2 {
    grid-column: span 3;
  }
  .tutorial__card {
    h4 {
      grid-row: 3 / span 4;
      grid-column: 3 / -9;
    }
    .dotgrid {
      grid-row: 2 / -2;
      grid-column: -8 / -2;
    }
  }
  .square--4 {
    --square-4-padding: 3rem;
    grid-row: span 2;
    
    .card {
      flex-direction: column;
    }
    h2 {
      font-size: 2.25rem;
    }
    svg {
      height: calc(min(84%, var(--square-module) * 2 + var(--container-gap) - var(--square-4-padding) * 2));
      max-width: 100%;
    }
    .card[data-type="enhanced"] svg {
      height: calc(min(74%, var(--square-module) * 2 + var(--container-gap) - var(--square-4-padding) * 2));
    }
    &[data-type="enhanced"] svg {
      max-width: 80%;
    }
  }
}

@media (min-width: 992px) {
  .highlights__container {
    --square-module: calc(var(--column-width) * 3 + var(--container-gap) * 2);
    grid-template-columns: repeat(4, 1fr);
  }
  .square--2 {
    grid-column: span 2;
  }
  .tutorial__card {
    h4 {
      grid-column: 3 / -2;
      margin-top: 2.25rem;
      font-size: 1.55rem;
    }
    .zigzag {
      height: 0.8rem;
    }
    .dotgrid {
      grid-row: 3 / -2;
      grid-column: -12 / -2;
    }
  }
}

@media (min-width: 1200px) {
  .tutorial__card h4 {
    grid-column: 3 / -5;
  }
}

@media (hover: hover) and (pointer: fine) {
  .square--1 .card {
    svg {
      .svg--filled-main,
      .svg--filled-support {
        opacity: 0;
        transition: opacity 0.5s;
      }
      .svg--bw {
        opacity: 1;
        transition: opacity 0.5s;
      }
    }

    &:hover {
      .svg--filled-main,
      .svg--filled-support {
        opacity: 1;
      }
      .svg--bw {
        opacity: 0;
      }
    }
  } 
}
