.tools__sneakpeak {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.tools__sneakpeak .btn--action {
    margin: 2rem 0 4.25rem;
}

.questions__section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--color-light);
    border-radius: var(--radius);
    -webkit-box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
            box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
}

.question {
    width: calc(100% - 2.375rem * 2);
    padding: 2rem 2.375rem 1.6rem;
    position: relative;
    text-align: center;
}

.question:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 100%;
    width: calc(100% - 2.375rem * 2);
    height: 0;
    right: 2.375rem;
    border-bottom: 0.5px solid var(--color-line-light);
}

.question__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.question__title svg {
    height: 0.9rem;
    position: relative;
    top: 3px;
    margin-right: 0.4rem;
}

.question p {
    font-weight: var(--font-light);
    font-style: italic;
}

@media (min-width: 576px) {
    main > div {
        top: -140px;
    }
    .question {
        width: calc(100% - 5rem);
        padding: 2.5rem;
    }
    .question:not(:last-child)::after {
        width: calc(100% - 5.2rem);
        right: 2.6rem;
    }
}

@media (min-width: 768px) {
    main > div {
        top: -70px;
    }
    .questions__section {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .question {
        width: 25%;
        padding: 1.75rem 1.25rem 2.3rem;
        text-align: left;
    }
    .question:not(:last-child)::after {
        top: 1.75rem;
        right: 0;
        width: 0;
        height: calc(100% - 1.75rem * 2);
        border-bottom: none;
        border-right: 0.5px solid var(--color-line-light);
    }
    .question__title {
        -webkit-box-pack: normal;
            -ms-flex-pack: normal;
                justify-content: normal;
    }
    .question p {
        width: 86%;
        font-size: 0.875rem;
    }
    .tools__sneakpeak .btn--action {
        margin: 2rem 0;
    }
}

@media (min-width: 992px) {
    .question {
        padding: 2.5rem;
    }
    .question:not(:last-child)::after {
        top: 2.6rem;
        height: calc(100% - 5.2rem);
    }
}