<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ page.title }}</title>
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,500,600|Libre+Baskerville&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ '/assets/css/master.css' | relative_url }}">
        {% assign url = page.url %}
        {% case url %}
        {% when '/' %}
        <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
        {% when '/tools.html' %}
        <link rel="stylesheet" href="{{ '/assets/css/tools-index.css' | relative_url }}">
        <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
        <script src="https://unpkg.com/d3-array@2.2.0/dist/d3-array.min.js"></script>
        <script src="{{ '/assets/js/tools-index.js' | relative_url }}" type="module" defer></script>
        {% when '/tutorials.html' %}
        <link rel="stylesheet" href="{{ '/assets/css/tutorials-index.css' | relative_url }}">
        {% else %}
        {% endcase %}
        {% if page.layout == "tool" %}
        <link rel="stylesheet" href="{{ '/assets/css/tool.css' | relative_url }}">
        {% endif %}
    </head>
    <body>
        {% include navigation.html %}
        {{ content }}
        {% include footer.html %}
    </body>
</html>
