---
layout: default
---
{% for tutorial in site.tutorials %}
{% if tutorial.title == page.title %}
{% assign number = forloop.index %}
{% assign hasToolkit = page.toolkit.pdf %}
{% endif %}
{% endfor %}
<header>
    <div class="header__content">
        <div class="tutorial__number">
            {% if number > 9 %}<p>{{ number }}</p>{% else %}<p>0{{ number }}</p>{% endif %}
            {% include svgs/zigzag.html class="zigzag" %}
        </div>
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
        <p class="tutorial__subtitle">{{ page.subtitle }}</p>
        {% endif %}
        {% if page.intro %}
        <p class="tutorial__intro">{{ page.intro }}</p>
        {% endif %}
    </div>
    {% include svgs/dotgrid.html class="dotgrid" %}
</header>
<main>
    <div class="tutorial__timeline">
        <div class="timeline__start">
            {% include svgs/arrow-right.html %}
            <p>main tools used</p>
        </div>
        {% for step in page.steps %}
        <div class="timeline__step">
            <a href="#{{ step.tool | escape | replace: '&#39;', '' | slugify }}">
                {% assign match = site.tools | where:"title",step.tool %}
                {{ match[0].icon | strip_newlines | normalize_whitespace }}
                <p class="timeline__number">0{{ forloop.index }}</p>
                <p class="timeline__tool">{{ step.tool }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
    {% for step in page.steps %}
    <div class="step" data-step="{{ forloop.index0 }}" id="{{ step.tool | slugify }}">
        <div class="step__tool">
            <p class="step__number">0{{ forloop.index }}</p>
            <h5>main tool used</h5>
            {% assign match = site.tools | where:"title",step.tool %}
            {% if match[0].publicable == true %}
            <a href="{{ match[0].url }}">
            {% else %}
            <a href="#"></a>
            {% endif %}
                <div class="card">
                    {{ match[0].icon | strip_newlines | normalize_whitespace }}
                    <p>{{ step.tool }}</p>
                </div>
            </a>
        </div>
        <div class="step__content">
            <p class="step__number">0{{ forloop.index }}</p>
            <h2>{{ step.title }}</h2>
            {{ step.description | markdownify }}
            <h5>tips</h5>
            {{ step.tips | markdownify }}
        </div>
    </div>
    {% endfor %}
    {% if hasToolkit and page.toolkit.pdf != '' %}
    {% if page.toolkit.image and page.toolkit.image != '' %}
    <img src="{{ page.toolkit.image }}" alt="Preview image of the template for {{ page.title }}">
    {% endif %}
    <div class="download__links">
        <a href="{{ page.toolkit.pdf }}" class="btn--action" download>download kit</a>  
    </div>
    {% endif %}
</main>