<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 186 172" xml:space="preserve" class="{{ include.class }}">
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="2" y1="169.42" x2="6.864" y2="164.659"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="21.862" y1="169.42" x2="26.726" y2="164.659"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="41.318" y1="169.42" x2="46.183" y2="164.659"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="60.775" y1="169.42" x2="65.639" y2="164.659"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="81.042" y1="169.42" x2="85.906" y2="164.659"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="100.499" y1="169.42" x2="105.363" y2="164.659"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="119.955" y1="169.42" x2="124.82" y2="164.659"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="140.223" y1="169.42" x2="145.087" y2="164.659"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="159.679" y1="169.42" x2="164.543" y2="164.659"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="179.136" y1="169.42" x2="184" y2="164.659"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="2" y1="151.17" x2="6.864" y2="146.41"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="21.862" y1="151.17" x2="26.726" y2="146.41"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="41.318" y1="151.17" x2="46.183" y2="146.41"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="60.775" y1="151.17" x2="65.639" y2="146.41"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="81.042" y1="151.17" x2="85.906" y2="146.41"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="100.499" y1="151.17" x2="105.363" y2="146.41"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="119.955" y1="151.17" x2="124.82" y2="146.41"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="140.223" y1="151.17" x2="145.087" y2="146.41"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="159.679" y1="151.17" x2="164.543" y2="146.41"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="179.136" y1="151.17" x2="184" y2="146.41"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="2" y1="132.921" x2="6.864" y2="128.16"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="21.862" y1="132.921" x2="26.726" y2="128.16"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="41.318" y1="132.921" x2="46.183" y2="128.16"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="60.775" y1="132.921" x2="65.639" y2="128.16"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="81.042" y1="132.921" x2="85.906" y2="128.16"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="100.499" y1="132.921" x2="105.363" y2="128.16"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="119.955" y1="132.921" x2="124.82" y2="128.16"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="140.223" y1="132.921" x2="145.087" y2="128.16"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="159.679" y1="132.921" x2="164.543" y2="128.16"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="179.136" y1="132.921" x2="184" y2="128.16"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="2" y1="114.671" x2="6.864" y2="109.91"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="21.862" y1="114.671" x2="26.726" y2="109.91"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="41.318" y1="114.671" x2="46.183" y2="109.91"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="60.775" y1="114.671" x2="65.639" y2="109.91"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="81.042" y1="114.671" x2="85.906" y2="109.91"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="100.499" y1="114.671" x2="105.363" y2="109.91"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="119.955" y1="114.671" x2="124.82" y2="109.91"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="140.223" y1="114.671" x2="145.087" y2="109.91"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="159.679" y1="114.671" x2="164.543" y2="109.91"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="179.136" y1="114.671" x2="184" y2="109.91"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="2" y1="97.215" x2="6.864" y2="92.454"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="21.862" y1="97.215" x2="26.726" y2="92.454"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="41.318" y1="97.215" x2="46.183" y2="92.454"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="60.775" y1="97.215" x2="65.639" y2="92.454"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="81.042" y1="97.215" x2="85.906" y2="92.454"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="100.499" y1="97.215" x2="105.363" y2="92.454"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="119.955" y1="97.215" x2="124.82" y2="92.454"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="140.223" y1="97.215" x2="145.087" y2="92.454"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="159.679" y1="97.215" x2="164.543" y2="92.454"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="179.136" y1="97.215" x2="184" y2="92.454"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="2" y1="78.966" x2="6.864" y2="74.205"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="21.862" y1="78.966" x2="26.726" y2="74.205"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="41.318" y1="78.966" x2="46.183" y2="74.205"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="60.775" y1="78.966" x2="65.639" y2="74.205"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="81.042" y1="78.966" x2="85.906" y2="74.205"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="100.499" y1="78.966" x2="105.363" y2="74.205"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="119.955" y1="78.966" x2="124.82" y2="74.205"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="140.223" y1="78.966" x2="145.087" y2="74.205"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="159.679" y1="78.966" x2="164.543" y2="74.205"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="179.136" y1="78.966" x2="184" y2="74.205"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="2" y1="60.716" x2="6.864" y2="55.955"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="21.862" y1="60.716" x2="26.726" y2="55.955"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="41.318" y1="60.716" x2="46.183" y2="55.955"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="60.775" y1="60.716" x2="65.639" y2="55.955"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="81.042" y1="60.716" x2="85.906" y2="55.955"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="100.499" y1="60.716" x2="105.363" y2="55.955"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="119.955" y1="60.716" x2="124.82" y2="55.955"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="140.223" y1="60.716" x2="145.087" y2="55.955"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="159.679" y1="60.716" x2="164.543" y2="55.955"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="179.136" y1="60.716" x2="184" y2="55.955"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="2" y1="42.466" x2="6.864" y2="37.706"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="21.862" y1="42.466" x2="26.726" y2="37.706"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="41.318" y1="42.466" x2="46.183" y2="37.706"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="60.775" y1="42.466" x2="65.639" y2="37.706"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="81.042" y1="42.466" x2="85.906" y2="37.706"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="100.499" y1="42.466" x2="105.363" y2="37.706"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="119.955" y1="42.466" x2="124.82" y2="37.706"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="140.223" y1="42.466" x2="145.087" y2="37.706"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="159.679" y1="42.466" x2="164.543" y2="37.706"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="179.136" y1="42.466" x2="184" y2="37.706"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="2" y1="25.01" x2="6.864" y2="20.25"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="21.862" y1="25.01" x2="26.726" y2="20.25"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="41.318" y1="25.01" x2="46.183" y2="20.25"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="60.775" y1="25.01" x2="65.639" y2="20.25"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="81.042" y1="25.01" x2="85.906" y2="20.25"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="100.499" y1="25.01" x2="105.363" y2="20.25"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="119.955" y1="25.01" x2="124.82" y2="20.25"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="140.223" y1="25.01" x2="145.087" y2="20.25"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="159.679" y1="25.01" x2="164.543" y2="20.25"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="179.136" y1="25.01" x2="184" y2="20.25"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="2" y1="6.761" x2="6.864" y2="2"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="21.862" y1="6.761" x2="26.726" y2="2"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="41.318" y1="6.761" x2="46.183" y2="2"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="60.775" y1="6.761" x2="65.639" y2="2"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="81.042" y1="6.761" x2="85.906" y2="2"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="100.499" y1="6.761" x2="105.363" y2="2"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="119.955" y1="6.761" x2="124.82" y2="2"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="140.223" y1="6.761" x2="145.087" y2="2"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="159.679" y1="6.761" x2="164.543" y2="2"/>
    <line class="svg--stroke-light svg--stroke-thick2" stroke-linecap="round" x1="179.136" y1="6.761" x2="184" y2="2"/>
</svg>
    
  