<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 186 178" xml:space="preserve" class="{{ include.class }}">
    <ellipse class="svg--filled-support" cx="2.4" cy="2.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="2.4" cy="22.1" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="21.6" cy="2.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="21.6" cy="22.1" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="43.2" cy="2.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="43.2" cy="22.1" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="63.6" cy="2.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="63.6" cy="22.1" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="82.8" cy="2.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="82.8" cy="22.1" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="103.2" cy="2.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="103.2" cy="22.1" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="122.4" cy="2.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="122.4" cy="22.1" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="142.8" cy="2.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="142.8" cy="22.1" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="164.4" cy="2.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="164.4" cy="22.1" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="183.6" cy="2.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="183.6" cy="22.1" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="2.4" cy="41.7" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="21.6" cy="41.7" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="43.2" cy="41.7" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="63.6" cy="41.7" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="82.8" cy="41.7" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="103.2" cy="41.7" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="122.4" cy="41.7" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="142.8" cy="41.7" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="164.4" cy="41.7" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="183.6" cy="41.7" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="2.4" cy="60.2" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="21.6" cy="60.2" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="43.2" cy="60.2" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="63.6" cy="60.2" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="82.8" cy="60.2" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="103.2" cy="60.2" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="122.4" cy="60.2" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="142.8" cy="60.2" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="164.4" cy="60.2" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="183.6" cy="60.2" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="2.4" cy="78.6" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="21.6" cy="78.6" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="43.2" cy="78.6" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="63.6" cy="78.6" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="82.8" cy="78.6" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="103.2" cy="78.6" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="122.4" cy="78.6" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="142.8" cy="78.6" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="164.4" cy="78.6" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="183.6" cy="78.6" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="2.4" cy="99.4" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="21.6" cy="99.4" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="43.2" cy="99.4" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="63.6" cy="99.4" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="82.8" cy="99.4" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="103.2" cy="99.4" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="122.4" cy="99.4" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="142.8" cy="99.4" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="164.4" cy="99.4" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="183.6" cy="99.4" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="2.4" cy="117.8" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="21.6" cy="117.8" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="43.2" cy="117.8" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="63.6" cy="117.8" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="82.8" cy="117.8" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="103.2" cy="117.8" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="122.4" cy="117.8" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="142.8" cy="117.8" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="164.4" cy="117.8" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="183.6" cy="117.8" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="2.4" cy="136.3" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="21.6" cy="136.3" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="43.2" cy="136.3" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="63.6" cy="136.3" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="82.8" cy="136.3" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="103.2" cy="136.3" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="122.4" cy="136.3" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="142.8" cy="136.3" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="164.4" cy="136.3" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="183.6" cy="136.3" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="2.4" cy="155.9" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="21.6" cy="155.9" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="43.2" cy="155.9" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="63.6" cy="155.9" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="82.8" cy="155.9" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="103.2" cy="155.9" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="122.4" cy="155.9" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="142.8" cy="155.9" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="164.4" cy="155.9" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="183.6" cy="155.9" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="2.4" cy="175.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="21.6" cy="175.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="43.2" cy="175.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="63.6" cy="175.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="82.8" cy="175.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="103.2" cy="175.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="122.4" cy="175.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="142.8" cy="175.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="164.4" cy="175.5" rx="2.4" ry="2.5"/>
    <ellipse class="svg--filled-support" cx="183.6" cy="175.5" rx="2.4" ry="2.5"/>
</svg>
  