main {
    width: calc(var(--container-width) + var(--container-gap));
    padding: 0 calc((100% - var(--container-width) - var(--container-gap)) / 2);
    background-color: var(--color-background-light);
}

.tools__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2rem calc(var(--container-gap) / 2) 0;
}

.tools__navigation h3 {
    color: var(--color-dark);
    font-weight: var(--font-medium);
    margin: 0 0 0.75rem;
    font-size: 0.75rem;
}

.breadcrumb {
    width: 100%;
    margin-bottom: 2rem;
}

.breadcrumb p {
    font-size: 1.5rem;
    font-weight: var(--font-light);
}

.breadcrumb p span {
    color: var(--color-support);
    cursor: pointer;
    position: relative;
    padding-right: 0.7rem;
    font-weight: var(--font-medium);
}

.breadcrumb p span::after {
    content: "+";
    position: absolute;
    top: -3px;
    left: calc(100% - 0.7rem);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    font-size: 1.3rem;
    font-weight: var(--font-light);
}

.sorting {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.sorting h3:first-child {
    margin-right: 0.7rem;
}

.sorting ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.sorting li {
    position: relative;
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: var(--font-medium);
    margin-bottom: 0.4rem;
    padding-bottom: 0.1rem;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    cursor: pointer;
}

.sorting li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--color-support);
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
}

.sorting li.selected {
    color: var(--color-support);
}

.sorting li.selected::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
}

.tools__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 4rem;
}

.tool {
    margin: calc(var(--container-gap) / 2);
}

.tool div {
    width: calc(var(--column-width) * 3 + var(--container-gap) * 2 - 2.2rem);
    height: calc(var(--column-width) * 3 + var(--container-gap) * 2 - 1rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 1.1rem;
}

.tool svg {
    height: 46%;
    max-height: 46%;
}

.tool p {
    margin-top: 1.2rem;
    font-size: 0.875rem;
    font-weight: var(--font-medium);
    text-transform: uppercase;
}

@media (min-width: 576px) {
    .tools__navigation h3 {
        margin: 0 0 0.875rem;
        font-size: 0.875rem;
    }
    .sorting li {
        font-size: 0.875rem;
    }
    .tool div {
        width: calc(var(--column-width) * 3 + var(--container-gap) * 2);
        height: calc(var(--column-width) * 3 + var(--container-gap) * 2);
        padding: 0;
    }
    .tool svg {
        height: 32%;
        max-height: 32%;
    }
}

@media (min-width: 768px) {
    .tools__navigation {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 2rem calc(var(--container-gap) / 2);
    }
    .breadcrumb {
        width: 74%;
        margin-bottom: 0;
    }
    .sorting {
        width: 26%;
    }
    .tool div {
        width: calc(var(--column-width) * 2 + var(--container-gap) * 1);
        height: calc(var(--column-width) * 2 + var(--container-gap) * 1);
    }
}

@media (min-width: 992px) {
    .breadcrumb {
        width: 80%;
    }
    .breadcrumb p {
        font-size: 2rem;
    }
    .breadcrumb p span::after {
        top: 0;
        font-size: 1.5rem;
    }
    .sorting {
        width: 20%;
    }
    .tool div {
        width: calc(var(--column-width) * 3 + var(--container-gap) * 2);
        height: calc(var(--column-width) * 3 + var(--container-gap) * 2);
    }
}

@media (hover: hover) and (pointer: fine) {
    .sorting li:hover {
        color: var(--color-support);
    }
    .tool svg .svg--filled-main {
        opacity: 0;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }
    .tool:hover svg .svg--filled-main {
        opacity: 1;
    }
    .tool svg .svg--bw {
        opacity: 1;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }
    .tool:hover svg .svg--bw {
        opacity: 0;
    }
}